// @use '@/node_modules/bootstrap/scss/bootstrap';
@import 'bootstrap/scss/bootstrap';

// base color
$color1: #fff;
$color2: #f0f5ed;
$color3: #466543;
$color4: #222222;
$color5: #4b4b4b;
$color6: #cccccc;
$color7: #f9fbf8;
$color7-2: #f9fbf881;
$color8: #31472f;
$color9: #ee3b24;
$color10: #d5e6d4;
$color11: #364934;


// default font